<div class="container">

    <h1>Email de confirmacion enviado</h1>

    <ul>
        <li>Dirección de envío {{email}}</li>
        <li>Nombre de usuario: {{username}} </li>
    </ul>

    <p>Por favor, confirme su cuenta de correo para poder ingresar en nuestra comunidad. </p>

    <a href="/" class="btn btn-dark">Inicio</a>


</div> 