<h1>Reparaciones</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">

            <p>
                Restauraciones integrales: Mecánica, Chapa, Pintura, Electricidad, Tapiceria…
            </p>

            <p> 
                SocialMotos dispone de talleres especializados en el mantenimiento, acondicionamiento y restauración
                a cualquier nivel deseado por nuestros clientes. La especialización exclusiva en coches clásicos y de colección hace
                que su coche no sea tocado” por manos inexpertas.
            </p>

            <p>
                Nuestro equipo humano dispone de amplia experiencia de más de 20 años en el sector con todo tipo de restauraciones al
                más alto nivel. Muchos de nuestros proyectos han sido premiados en eventos nacionales e internacionales. Estamos
                ampliamente documentados con una variada y gran biblioteca propia.
            </p>
            <div class="taller-pic">
                <img src="/images/taller-coches-1.jpg" alt="">
            </div>
            <p>
                Desde nuestra oficina en Nueva York tenemos un acceso directo con nuestros proveedores en USA y otros países. Los
                talleres de MM Clásicos en Quintanar de la Sierra-Burgos y House of Cars en Marbella están habilitados con todo tipo
                de utillaje especializado en métrica y pulgadas. Con herramienta específica para acometer cualquier tipo de tarea.
                Reparamos, buscamos o re-fabricamos en última instancia cualquier pieza que sea necesaria para su satisfacción.
                Estamos capacitados para cualquier tipo de reparación, potenciación o mantenimiento en motores, de 4 cilindros a
                V12.
            </p>
            <p>
                Estamos especializados en grandes motores V8 americanos clásicos, cajas de cambio automáticas, modificaciones de
                rendimiento, preparaciones High Performance, mejoras en suspensiones, frenos, elementos de seguridad, direcciones
                eléctricas, etc. Realizamos modificaciones Hot Rod y Custom y todo tipo de personalizaciones en clásicos americanos.
                Trabajamos cualquier tipo de clásico; Ingleses, alemanes, franceses...
            </p>
            <p>
                Igualmente realizamos cualquier tipo de tareas en interiores, restauraciones de guarnecidos, techos y salpicaderos.
                Tapizados integrales en piel genuina o telas.
            </p>
            <div class="taller-pic">
                <img src="/images/taller-coches-2.jpg" alt="">
            </div>
            <p>
                Restauraciones de chapa en acero, aluminio o madera, y pintura, aplicando técnicas y química moderna anticorrosiva
                en equipadas instalaciones.
            </p>
            <p>
                Nos adaptamos a las necesidades y presupuesto de nuestros clientes desde un económico remozado de pintura e
                interiores o puesta punto, hasta importantes reconstrucciones de todo nivel.
            </p>
            <p>
                Nuestras restauraciones van acompañadas de un reportaje detallado de todos los procesos y un dossier final que se
                entrega junto al vehículo. Lo que revaloriza su automóvil.
            </p>
            <div class="taller-pic">
                <img class="taller-personal" src="/images/taller-coches-3.jpg" alt="">
            </div>
            <p>
                Si así lo desea, nos encargamos desde la recogida en cualquier punto a su entrega en domicilio para que usted no
                deba preocuparse de nada.
            </p>
            <p>
                Pídanos presupuesto sin compromiso.
            </p>

        </div>
    </div>
    <a href="/cars" class="btn btn-dark">Volver</a>
</div>